
ChatPlatform/.vs/ChatPlatform/v16/Server/sqlite3/storage.ide-shm
ChatPlatform/.vs/ChatPlatform/v16/Server/sqlite3/storage.ide-wal
ChatPlatform/ChatClient/obj/ChatClient.csproj.nuget.cache
ChatPlatform/ChatClient/obj/ChatClient.csproj.nuget.dgspec.json
ChatPlatform/ChatClient/obj/ChatClient.csproj.nuget.g.props
ChatPlatform/ChatClient/obj/Debug/net472/ChatClient.assets.cache
ChatPlatform/ChatClient/obj/Debug/net472/ChatClient.csprojAssemblyReference.cache
ChatPlatform/ChatClient/obj/project.assets.json
ChatPlatform/ChatPlatform/obj/ChatPlatform.csproj.nuget.cache
ChatPlatform/ChatPlatform/obj/ChatPlatform.csproj.nuget.dgspec.json
ChatPlatform/ChatPlatform/obj/ChatPlatform.csproj.nuget.g.props
ChatPlatform/ChatPlatform/obj/Debug/net472/ChatPlatform.assets.cache
ChatPlatform/ChatPlatform/obj/Debug/net472/ChatPlatform.csprojAssemblyReference.cache
ChatPlatform/ChatPlatform/obj/project.assets.json
ChatPlatform/ChatPlatformUnitTest/obj/Debug/ChatPlatformUnitTest.csprojAssemblyReference.cache
ChatPlatform/ChatClient/obj/Debug/net472/ChatClient.assets.cache
*.cache
*.json
*.ide-shm
*.ide-wal
